/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.headerIndex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh !important;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}
